<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>    
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Website</h1>

    <h2>
      <iframe width="320" height="55" src="http://www.kissfm.ua/player/embed?stream=KissFM_digital" frameborder="0" scrolling="no"></iframe>
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

	<%= link_to image_tag("613-361.png", alt: "Ford Mustang"), 'http://rubyonrails.org/' %>
<% end %>