<header class=" navbar-fixed-top ">
  <div class="navbar-inner">  
    <div class="container-fluid">
      <%= link_to image_tag("rails.png"), root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to image_tag("Home(1).png"), root_path %></li>
          <li><%= link_to image_tag("FAQ(1).png"), help_path %></li>
          <% if signed_in? %>
            <li><%= link_to image_tag("amsn.png"), users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"; style="font-family: comic sans ms; color: gray">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to image_tag("profile.png"), current_user %></li>
                <li><%= link_to image_tag("Gnome-Preferences-System-64.png"), edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to image_tag("login10.png"), signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to image_tag("login.png"), signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>